body {
    background-color: #666666;
}

button {
    overflow:visible;
    background-color: #4d4d4d;
    height: 50px;
    width: 80%;
    font-size: 16pt;
    color: #f2f2f2;

    margin: auto;

    display: inline-flex;
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */

    border-color: transparent;
}

button:hover {
    background-color: #f2f2f2;
    color: #4d4d4d;
    border:2px #4d4d4d solid;
}

li {
    display: block;
    list-style: none;
    margin-bottom: 20px;
}

.lang_wrap {
    position: absolute;
    top: 50px;
    width: 89%;
    text-align: center;

    box-sizing: border-box;
    display: block;
}

.container {
    position: relative;
    min-height: 1px;
    float: left;
    min-width: 300px;
    width: 25%;
    box-sizing: border-box;
    display: block;
}

.white {
    background-color: #f2f2f2;
    width: 100%;
    min-width: 300px;
    height: 100vh;
    background-repeat: repeat;
    box-sizing: border-box;
    display: block;
}

.full_screen {
    padding-left: 150px;
    padding-right: 150px;
    box-sizing: border-box;
}
